[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "zsh/zsh/pure"]
	path = zsh/.zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
