*customization: -color
!urxvt*font: xft:dejavu sans mono:pixelsize=22:antialias=true:hinting=true
!urxvt*font: xft:DejaVu Sans Mono:pixelsize=20:antialias=true:hinting=true
! urxvt*font: xft:fira code:pixelsize=22:antialias=true:hinting=true
urxvt*font: xft:iosevka term:size=14,xft:dejavu sans mono:size=14
!urxvt*letterSpace: -5
!urxvt*font: xft:fira code:pixelsize=22:antialias=true
!urxvt*font: xft:inconsolata:size=18:antialias=true
urxvt*scrollBar: false
URxvt*termName: xterm-256color
Xterm*termName: xterm-256color

Xcursor.size: 24

Xft.lcdfilter: lcddefault
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight


URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.saveLines: 40000

URxvt.perl-ext-common: default,matcher,resize-font,clipboard
URxvt.clipboard.autocopy: true
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

urxvt*foreground: white
urxvt*background: black

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC

#include ".Xresources.local"
